{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UITC Laboratory Monitoring</title>
    <link rel="icon" href="{% static 'Media/TUP LOGO.png' %}">
    <link rel="stylesheet"  href="{% static 'CSS/perform_request.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'JS/performreq.js' %}"></script>
  </head>
<body>

  <div class="menu-bar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="{% static 'Media/TUP LOGO.png' %}">UITC LABORATORY </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link van" href="{% url 'Labapp:EquipmentDevice' %}">Equipment Device</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                  Perform Request
                  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link van" href="{% url 'Labapp:records' %}">
                  Records
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link van" href="{% url 'Labapp:logout' %}">Logout</a>
            </li>
          </ul>
          
        </div>
    </nav>
  
  </div>
  <form>
  <div class="color-overlay"></div>
  <div id="pic" class="view drk ">
    <div class="color-overlay"></div>
      <div class="jumbotron" >
        
        {%for message in messages%}
            {% if message.tags == 'info'%}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                var m = "{{message}}";
                swal("Delete", m, "success")
            </script>
            {% endif %}
            {% if message.tags == 'success'%}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                var m = "{{message}}";
                swal("Congrats", m, "success")
            </script>
            {% endif %}
        {%endfor%}
        <div class="container text-center"><br><br>
          <div class="table-responsive">
            <div class="card-header">
              <h2 id="pangalan">REPORTS</h2> <br></br>
            </div>
            <div class="card-body">
              <form>
                
                <table class="table table-striped" id="tbl_report">
                  <thead class="thead">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Lab No.</th>
                      <th scope="col">PC No.</th>
                      <th scope="col">Type of Report</th>
                      <th scope="col">Remarks</th>
                      <th scope="col">Status</th>


                    </tr>
                  </thead>
                  <tbody class="table-color">
                    <tr id="row_data" >
                      {% for report in data %}
                      <td>{{report.name}}</td>
                      <td>{{report.Lab_num}}</td>
                      <td>{{report.Pc_num}}</td>
                      <td>{{report.Type_report}}</td>
                      <td>{{report.remarks}}</td>
                      <td>
                        <a class="btn btn-sm" type='button' id = 'Save' href="{% url 'Labapp:update' report.pk  %}" > Done </a>    <a class="btn btn-sm" type='button' id = 'Save' href="{% url 'Labapp:delete' report.pk %}" > Delete </a>
                      </td>                
                    </tr>
                      {% endfor%}
                  </tbody>
                  
                  
                  <tfoot>

                  </tfoot>
                  
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>



  </div>
    
  </form>  
  
  


</body>
</html>
