{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UITC Laboratory Monitoring</title>
    <link rel="icon" href="{% static 'Media/TUP LOGO.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/records.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    
    <!----fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
    
    
    <script src="{% static 'JS/Records.js' %}"></script>
    
</head>
<body>

  <div class="menu-bar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="{% static 'Media/TUP LOGO.png' %}">UITC LABORATORY </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link van" href="{% url 'Labapp:EquipmentDevice' %}">Equipment Device</a>
            </li>
            <li class="nav-item">
                <a class="nav-link van" href="{% url 'Labapp:performrequest' %}">
                  Perform Request
                  </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                  Records<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link van" href="{% url 'Labapp:logout' %}">Logout</a>
            </li>
           
          </ul>
          
        </div>
    </nav>
  
  </div>  
  <div class="topnav">
    <a class="active" id="monitoring" data-target="#Monitoring" aria-expanded="true" aria-controls="Monitoring">Monitoring</a>
    <a id="equipment_Device" data-target="#Equipment_Device" aria-expanded="true" aria-controls="Equipment_Device">Equipment Device</a>
    <a id="reports"  data-target="#Reports" aria-expanded="true" aria-controls="Reports">Report</a>
    
  </div>
  <div class="color-overlay"></div>
  <div id="pic" class="view drk ">
    <div class="color-overlay"></div>
      <div class="jumbotron" >
        <div class="container text-center"><br><br>
        
          <div id="Monitoring" class=" collapse show">
            <div class="dropdown" id="mini_M">
              <a id="mnt"> MONITORING </a>
              <button class="dropbtn" title="Date" id="d1">Date<img src="{% static 'Media/icons8-calendar-24.png' %}"></button>
              <div class="dropdown-content">
                <input type="date">
              </div>
              Time <input type="time">
              <input type="number" min="1" max="4" title="Lab #" id="n1"> Lab #
              <button type="submit" id="s1">Search</button>
              <button class="dwnld" id="dwnld_btn" title="Download"><img src="{% static 'Media/icon.png' %}" >Download</button>
            </div>
            
            <div  class="table-responsive">
              <div class="card-header"> 
              </div>
              <div class="card-body" id="t1">
                <a id="pangalan"> LABORATORY 1 </a>
                <table class="table table-striped" id="tbl_report1">
                  <thead class="thead">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Year,Course, and Section</th>
                      <th scope="col">PC No.</th>
                      <th scope="col">Status</th>
                      <th scope="col">Time in</th>
                      <th scope="col">Time out</th>
                    
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        
        
          <div id="Equipment_Device" class="collapse">
            <div class="dropdown" id="mini_E">
              <a id="mnt"> EQUIPMENT DEVICE </a>
              <button class="dropbtn" title="Date" id="d2">Date<img src="{% static 'Media/icons8-calendar-24.png' %}"></button>
              <div class="dropdown-content">
                <input type="date">
              </div>
              Time <input type="time">
              <input type="number" min="1" max="4" title="Lab #" id="n2"> Lab #
              <button type="submit" id="s2">Search</button>
              <button class="dwnld" id="dwnld_btn1" title="Download"><img src="{% static 'Media/icon.png' %}" >Download</button>
            </div>

          
            <div class="table-responsive">
              <div class="card-header"> 
              </div>
              <div class="card-body" id="t2">
                <a id="pangalan"> LABORATORY 1 </a>
                <table class="table table-striped" id="tbl_report2">
                  
                  <thead class="thead">
                    <tr>
                      <th scope="col">PC no.</th>
                      <th scope="col">System Unit</th>
                      <th scope="col">Monitor</th>
                      <th scope="col">Keyboard</th>
                      <th scope="col">Mouse</th>
                      <th scope="col">AVR</th>
                      <th scope="col">Remarks</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        
       
          <div id="Reports" class="collapse">
            <div class="dropdown" id="mini_R">
              <a id="mnt"> REPORTS </a>
              <button class="dropbtn" title="Date" id="d3">Date<img src="{% static 'Media/icons8-calendar-24.png' %}"></button>
              <div class="dropdown-content">
                <input type="date">
              </div>
              Time <input type="time">
              <input type="number" min="1" max="4" title="Lab #" id="n3"> Lab #
              <button type="submit" id="s3">Search</button>
              <button class="dwnld" id="dwnld_btn2" title="Download"><img src="{% static 'Media/icon.png' %}" >Download</button>
            </div>

              <div class="table-responsive">
                <div class="card-header"> 
                </div>
                <div class="card-body" id="t3">
                  <a id="pangalan"> LABORATORY 1 </a>
                  <table class="table table-striped" id="tbl_report3">
                    
                    <thead class="thead">
                      <tr>
                        <th  scope="col">Name</th>
                        <th scope="col">Lab No.</th>
                        <th scope="col">PC No.</th>
                        <th scope="col">Type of Report</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody class="table-color">
                      <tr id="row_data" >
                        {% for report in data %}
                        <td>{{report.name}}</td>
                        <td>{{report.Lab_num}}</td>
                        <td>{{report.Pc_num}}</td>
                        <td>{{report.Type_report}}</td>
                        <td>{{report.remarks}}</td>
                        <td>{{report.status}}</td>                
                      </tr>
                        {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
       
        
        </div>
      </div>
        
      
    </div>


  </div>
  <script type="text/javascript">
    $("body").on("click", "#dwnld_btn", function () {
        html2canvas($('#t1')[0], {
            onrendered: function (canvas) {
                 var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Monitoring-data.pdf");
            }
        });
    });
    $("body").on("click", "#dwnld_btn1", function () {
        html2canvas($('#t2')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("equipment_device-data.pdf");
            }
        });
    });
    $("body").on("click", "#dwnld_btn2", function () {
        html2canvas($('#t3')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).open("reports-data.pdf");
                pdfMake.createPdf(docDefinition).download("reports-data.pdf");
            }
        });
    });
</script>


</body>
</html>