
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC UITC LABORATORY</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/register.css' %}">
    <link rel="icon" href="{% static 'Media/TUPLOGO.png' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
    <!-----fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="color-overlay ">
            <section class="form my-4 mx-7 ">
                <div class="container-fluid d-flex justify-content-center align-items-center login-container">
                    <div class="row no-gutters  text-center">
                        <div class="col-lg-5 n ">
                            <img src="{% static 'Media/GREENBG.png' %}" class="img-responsive" alt="image">
                        </div>
                        <div class="col-lg-7  text-center">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row a ">
                                    <div class="col-lg-7 text-center naa">
                                        <h4 class="font-weight-bold pt-3 n " >SIGN UP HERE</h4>
                                    </div>
                                </div>
                                <div class="form-row a">
                                    <div class="col-lg-8 text-center">
                                        <h6 class="font-weight-bold na">Create an account</h6>
                                    </div>
                                </div>
                                <div class="form-row n" >
                                    <a>
                                        <button type="button" class="btn" id="cancel" >Picture Muna walang function</button> 
                                    </a>
                                </div>
                                <div class="form-row n" >
                                    <label class="row-2">Username {{form.username}}  </label>
                                    
                                </div>
                                <div class="form-row n" >
                                    <label class="row-2">First Name {{form.first_name}}  </label>
                                    
                                </div>
                                <div class="form-row n">
                                    <label class="row-2">Last Name {{form.last_name}}  </label>
                                    
                                </div>
                                <div class="form-row n">
                                    <label class="row-2">Email {{form.email}}  </label>
                                    
                                </div>
                                <div class="form-row n ">
                                    <label class="row-2">Password {{form.password1}}  </label>
                    
                                    
                                </div>
                                <div class="form-row n ">
                                    <label class="row-2">Confirm Password {{form.password2}}  </label>
                                    
                                    
                                </div>
                                <div class="form-row n">
                                    <label class="row-2">Job Description {{form.Job_description}} </label>
                                    
                                    
                                </div>
                                <div class="form-row n">
                                    <div class="col-4">
                                        <a>
                                            <button type="submit" class="btn" id="log" >Register</button>
                                            <button type="button" class="btn" id="cancel" >Cancel</button> 
                                        </a>
                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            
            </section>
       
</body>
