*{
    margin:0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
  
  }
  body {
    --table-width: 100%
  }
  tbody{
    display: block;
    max-height: 300px;
    overflow-y: auto;
  }
  thead, tbody tr{
    display: table;
    width: var(--table-width);
    table-layout: fixed;
  }
  .container{
    z-index: 1;
  }
  .navbar-nav{
    text-align: right;
    margin-right: 20;
    
  }
  .navbar .navbar-brand{
    color: rgb(0, 0, 0);
    font-size: 40px;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width:.5px;
    cursor: default;
  }
  .navbar .navbar-toggler{
    color:rgb(255, 255, 255);
  }
  .navbar-brand img{
    width: 80px;
    height: 70px;
    margin-top: 2px;
    margin-right: 20px;
    color: white;
    font-size: 20px;
  }
  .navbar{
    background-color:#570808! important;
    z-index: 2;
  }
  .navbar .navbar-nav li a{
    color: #fff;
  }
  .nav-link{
    font-size: 20px;
    margin: 3px;
    color: white;
    font-weight: 500;
    z-index: 1;
  
  }
  .van:hover{
    
    transition: .2s ease-in !important;
    border: 2px solid #800101;
    border-width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff !important;
    
  
    
  }
  .active{
    color: #ffffff !important;
    border: 2px solid #800101;
    border-width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    
  }
  
  .thead{
  background-color: rgb(107, 16, 0);
  color: white;
  
  }
  .table-color{
  background-color: rgb(175, 51, 51);
  
  }
body {
    --table-width: 100%
}
tbody{
    display: block;
    max-height: 300px;
    overflow-y: auto;
}
thead, tbody tr{
    display: table;
    width: var(--table-width);
    table-layout: fixed;
}
html,
body,
header,

#pic{

    background-image: url("/static/Media/TUPBGDARK.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;

}
.view {
    background: #000 url("/static/Media/TUPBGDARK.png");
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: relative;
   }

.color-overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: hsla(355, 98%, 17%, 0.726);
    opacity: .6;
    position: absolute;
   }

.card-header{
  
  
  border-bottom: 1px solid #911100!important;
  cursor: default;

 
}
#pangalan{
  color:rgb(255, 255, 255) ;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px !important;
  font-weight:lighter !important ;
  /*-webkit-text-stroke-color: #000 !important;
  -webkit-text-stroke-width: 2px;*/
}
.jumbotron{
  background:rgba(32, 29, 29, 0.8)!important;
  z-index: 1;
  margin-top: 10px;
  cursor: default;  
}

.btn:hover{
  transform: scale(1.1);
}
.btn:hover{
  font-weight: 600;
  border: 1px solid #fff;
  background-color: #740606cb;
  transition: .2s ease-in;
  
}
.btn{
  background-color:#441503;
  color:white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width:1px;
  transition: 1s ease-in;
  cursor: pointer;
  border-radius:1cm;
  border: 1px solid #fff;
  border-width: auto;
  width: 60px;
  
  
}
.btn:active{
  border: 4px solid #fff;
  background-color:#0c790e;
  color:white;
  opacity: 10%;
}
.btn:focus {
  color: #ffffff;
  border: 4px solid #fff;
  animation: anim shadow .3s forwards;
  background-color: #41241bcc;
  transition: .2s ease-in;
  
}